@font-face {
    font-family: 'Early Gameboy';
    src: url('/assets/fonts/EarlyGameBoy.ttf') format('truetype');
  }
  
  .game {
    display: flex;
    margin-top: -50px;
    margin-left: 400px;
    border-color: white;
  }
  
  
  .right-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    margin-left: 100px; /* Ajusta el margen izquierdo según sea necesario */
  }
  
  .juego {
    font-family: 'Early Gameboy';
    color: white;
  }
  .menu-button{
    width: 30vw;
    height: 5vh;
    max-width: 200px;
    background-color: #000;
    color: #ff0069;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #a3008c;
    border-radius: 50px;
    margin: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Early Gameboy';
    text-shadow: 0 0 10px #ff0069, 0 0 20px #ff0069, 0 0 30px #ff0069;
  }

  .menu-button:hover {
    background-color: #ff0069;
    color: #000;
    text-shadow: none;
  }
  .play-button{
    width: 30vw;
    height: 5vh;
    max-width: 200px;
    background-color: #000;
    color: #ff0069;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #a3008c;
    border-radius: 50px;
    margin: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Early Gameboy';
    text-shadow: 0 0 10px #ff0069, 0 0 20px #ff0069, 0 0 30px #ff0069;
  }

  .play-button:hover {
    background-color: #ff0069;
    color: #000;
    text-shadow: none;
  }
  .pause-button{
    width: 30vw;
    height: 5vh;
    max-width: 200px;
    background-color: #000;
    color: #ff0069;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #a3008c;
    border-radius: 50px;
    margin: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Early Gameboy';
    text-shadow: 0 0 10px #ff0069, 0 0 20px #ff0069, 0 0 30px #ff0069;
  }

  .pause-button:hover {
    background-color: #ff0069;
    color: #000;
    text-shadow: none;
  }
  .reset-button{
    width: 30vw;
    height: 5vh;
    max-width: 200px;
    background-color: #000;
    color: #ff0069;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #a3008c;
    border-radius: 50px;
    margin: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Early Gameboy';
    text-shadow: 0 0 10px #ff0069, 0 0 20px #ff0069, 0 0 30px #ff0069;
  }

  .reset-button:hover {
    background-color: #ff0069;
    color: #000;
    text-shadow: none;
  }

