
<div class="container">
  <div class="container2" *ngIf="!BackDisplay">
    <div class="score-card">
      <div class="score-board">
        <h1>Score</h1>
        <h3>{{food.currentScore}}</h3>
      </div>
      <div class="restart-button" (click)="restartComponent()">
        MENU
      </div>
    </div>
    <div class="game-over" *ngIf="gameOver">
      <h1>Game Over</h1>
    </div>
    <div class="game-board">
    </div>
  </div>
  <div class="snake" *ngIf="BackDisplay"> 
    <game-boy></game-boy>
  </div>
</div>


