@font-face {
  font-family: 'Early Gameboy';
  src: url('/assets/fonts/EarlyGameBoy.ttf') format('truetype');
}


.container2 {
  background-image: url("https://wallpaperaccess.com/thumb/1268183.jpg");
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.container2 .score-card {
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.container2 .score-card .score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 75%;
  font-family: 'Early Gameboy';
}

.container2 .score-card .restart-button{
  padding: 10px 20px;
  border-radius: 20px;
  height: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 100%;
  margin-left: 75%;
  z-index: 99;
  font-family: 'Early Gameboy';
}
 .restart-button{
  width: 30vw;
  height: 5vh;
  max-width: 200px;
  background-color: #000;
  color: #ff0069;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #a3008c;
  border-radius: 50px;
  margin: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Early Gameboy';
  text-shadow: 0 0 10px #ff0069, 0 0 20px #ff0069, 0 0 30px #ff0069;
 }

.container2 .game-board {
  margin-left: 25%;
  border-radius: 5px;
  border: white solid 2px;
  width: 85vmin;
  height: 70vmin;
  display: grid;
  align-self: center;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
}


.game-over{
  margin-left: 15%;
  color:white;
}

.menu-button{
  margin-right: 100px;
}

